body {
    /* margin:85px; */
    padding: 50px 100px;

}

h1 {
    /* text-align: center; */
    text-shadow: 0 4px 10px rgb(29, 85, 141);
}

#text {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    resize: none;
    border: 3px solid rgb(29, 85, 141);

}
.p{
font-size: 20px;
font-weight: bold;
text-shadow:  0 4px 10px rgb(29, 85, 141);
}

.btn{
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    border:2px solid grey;
    cursor: pointer;
      
}

#color-switcher{
    text-align: right;
}

#RosyBrown{
background-color: #BC8F8F;
}

#teal{
background-color: #008080;
}

#MediumSeaGreen{
background-color: MediumSeaGreen;
}

#IndianRed{
background-color:#CD5C5C;
}